body {
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.chat-box {
    height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.message {
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
}

.bot {
    background-color: #0084ff;
    color: white;
}

.user {
    background-color: #ddd;
    color: black;
    text-align: right;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.logo {
    text-align: center;
    justify-content: center;
    
}
